.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.container{
    display: flex;
    height: 100vh;
    overflow:hidden ;

}


.notes-section {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color:cornflowerblue ; */
  margin-left: 150px;
}

.note-text {
  font-size: 40px;
  font-weight: 700;

}

.note-description {
  font-size: 20px;
  font-weight: 500;
  width: 600px;

}

.Note-bg-img {
  width: 500px;
 
}

.encrypted-box{

    display: flex;
   position: absolute;
   bottom: 12px;
   right: 30%;
   
}
  
