.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}

.popup-transparent-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(49, 49, 49, 0.45);
}

.popup-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 22px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 6px;
}

.popup-modal-title {
  font-family: "Roboto", sans-serif;
}

.group-title, .group-color {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 12px;
}

.create-btn {
  background-color: #001f8b;
  width: 98px;
  color: #ffffff;
  padding: 9px;
  border: none;
  font-size: 0.8rem;
  border-radius: 8px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 8%;
  right: 8%;
}

.group-title-input {
  width: 220px;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 22px;
  outline: none;
  border: 2px solid #cccccc;
  color: #000000;
}
.group-title-input[placeholder]{
  font-size: 15px;
}
.group-color-choice {
  appearance: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.group-color-choice:checked {
  outline: 2px solid #999;
}
.choose-color-box {
  display: flex;
}
.group-color-opts {
  display: flex;
  gap: 9px;
  margin-left: 18px;
}

.error-text {
  position: absolute;
  bottom: 25px;
  font-size: 14px;
  color: #ff6b6b;
}
