.main-container {
  position: relative;
  background-color: #dae5f5;
  width: 75%;
  height: 100%;
}

.main-container-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.notes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.note-description {
  font-size: 20px;
  font-weight: 500;
  max-width: 70%;
}

.note-bg-img {
  width: 500px;
}

.encrypted-box {
  position: absolute;
  display: flex;
  bottom: 40px;
}

.chat-container {
  width: 100%;
  height: 100%;
  background-color: #dae5f5;
  overflow: hidden;
}

.chat-container .group-title-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 8px 20px;
  padding-left: 32px;
  cursor: pointer;
  background-color: blue;
}

.chat-container .group-title-container .back-btn {
  display: none;
  margin-right: 8px;
}

.chat-container .group-title-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 23px;
  font-weight: bold;
}

.chat-container .group-title-content {
  font-size: 20px;
  font-weight: 700;
}

.chat-container .chat-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: calc(70% - 45px);
  padding: 10px;
  overflow: auto;
}

.chat-list .note-box {
  position: relative;
  padding: 3px;
  padding-bottom: 25px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  
}
.chat-list .date-time {
  position: absolute;
  right: 20px;
}
.chat-list .time {
  position: absolute;
  bottom: 12px;
  right: 4%;
}
.chat-list .text-note {
  margin: 26px;
}

.chat-input {
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 75%;
  height: 25%;
  background-color: blue;
}
.chat-input .send-btn {
  position: absolute;
  right: 60px;
  /* top: calc(50% - 10px); */
  bottom: 2%;
  height: 70px;
  cursor: pointer;
}
.chat-input textarea {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  outline: none;
  border-radius: 7px;
  font-size: 18px;
}
::placeholder{
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .main-container {
    width: 100%;
  }
  .chat-container .group-title-container .back-btn {
    display: block;
  }
  .chat-input {
    width: 100%;
  }
}
