

.chat-box {
  /* background-color: crimson; */
  width: 71vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

}
.chat-screen {
  width: 100%;
  height: 100vh;
  background-color: #dae5f5;

}
.header {
  position: fixed;
  top: 0;
  background-color: #001f8b;
  width: 100%;
  height: 12vh;
  display: flex;
  z-index: 1;
}

.scroll-screen {
  width: 100vw;
  overflow: auto;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 8%;
  /* height: 100vh; */
  position: sticky;
}

.notesBox {
  margin-top: 20px;
  width: 65%;
  height: 22vh;
  margin-left: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-area {
  position: fixed;
  bottom: 0;
  background-color: #001f8b;
  width: 100%;
  height: 30vh;
}

.input-area textarea {
  width: 65%;
  height: 130px;
  /* overflow: auto; */
  outline: none;
  border: none;
  padding: 1rem;
  resize: none;
  font-size: 1rem;
  border-radius: 8px; 
  margin-left: 25px;
  margin-top: 16px;
  
}
 



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 5.5px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5.5px;
}
