.container {
  display: flex;
  background-color: #dae5f5;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.sidebar-container {
  width: 400px;
  height: 99.5vh;

  background-color: white;
}

.sidebar-heading-section {
  position: sticky;
  top: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  padding-top: 14%;
  padding-bottom: 8%;
  background-color: #ffffff;
}

.notes-title-section {
  height: 10vh;

  display: flex;
  gap: 5;
  align-items: center;
  padding-left: 50px;
  margin-bottom: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 100%;
  font-size: 22px;
  display: block;
  line-height: 60px;
  align-items: center;
  text-align: center;
  font-weight: 500;
  margin-right: 25px;
}

.notes-title {
  font-size: 22px;
  font-weight: 600;
}

.group-section{
  overflow: auto;
  width: 400px;
  height: 85vh;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 5.5px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5.5px;
}





@media only screen and (max-width: 768px) {
  
  .sidebar-container {
    width: 100%;
    height: 99.5vh;
    overflow: hidden;
    background-color: white;
  }

  .sidebar-headng-text {
    width: 100%;
    padding-left: 60px;
    text-align: left;
  }

}