.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100vh;
  padding-top: 20px;
  overflow: hidden;
  background-color: #fff;

}

.sidebar-heading {
  position: sticky;
  font-weight: 500;
  padding: 15px 0;
}

.sidebar-note-groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
  padding: 0 8px;
}

.sidebar-note-groups .group-title-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 8px 20px;
  padding-left: 32px;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar-note-groups .group-title-container.selected {
  background-color: #f1f1f1;
}

.sidebar-note-groups .group-title-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 23px;
  font-weight: bold;
}

.sidebar-note-groups .group-title-content {
  font-size: 20px;
  font-weight: 700;
}

.sidebar-container .add-note-btn {
  width: 50px;
  position: fixed;
  bottom: 20px;
  left: calc(25% - 100px);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .sidebar-container .add-note-btn {
    left: calc(100% - 100px);
  }
}
