.container {
  display: flex;
  background-color: #dae5f5;
}

.sidebar-contaianer {
  width: 400px;
  height: 99vh;
  background-color: #ffffff;
  position: relative;
}

.note-heading {
  font-size: 35px;
  text-align: center;
  font-weight: 500;
  padding-top: 46px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.notes-title-section {
  height: 10vh;
  display: flex;
  gap: 2;
  align-items: center;
  /* padding-top: 16px; */
  padding-left: 50px;
  margin-bottom: 15px;
 
}

.circle {
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 100%;
  font-size: 23px;
  display: block;
  line-height: 60px;
  align-items: center;
  text-align: center;
  font-weight: 500;
  margin-right: 25px;
}

.notes-title {

  font-size: 24px;
  font-weight: 700;
}

.add-btn-img {
  width: 70px;
  position: fixed;
  top: 84%;
  left: 290px;
  cursor: pointer;
}

.scroll-section {
  overflow: auto;
  width: 400px;
  height: 100vh;

  /* display:flex;
  flex-direction: column; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 5.5px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5.5px;
}

.transparent-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(49, 49, 49, 0.45);
  /* padding: 20px; */
}

.addnote-card {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 430px;
  height: 170px;
  background-color: #ffffff;
  margin: 12% auto;
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 6px;
}
.create-group-tittle {
  color: #000000;

  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.create-btn {
  background-color: #001f8b;
  width: 98px;
  color: #ffffff;
  padding: 9px;
  border: none;
  font-size: 0.8rem;
  border-radius: 8px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 8%;
  right: 8%;
}

#note {
  width: 270px;
  padding: 8px;
  border-radius: 22px;
  outline: none;
  border: 2px solid #cccccc;
  color: #000000;
  margin-left: 13px;
}


.choose-color {
  font-size: 0.9rem;
}

.colorDiv {
  height: 24px;
  width: 24px;
  border-radius: 15px;
}
.selected {
  border: 1px solid black;
}
.choose-color-box {
  display: flex;
}
.color-box {
  display: flex;
  gap: 9px;
  margin-left: 18px;
}

.error-text {
  font-size: 14px;
  color: #ff6b6b;
}
